extends _layout 
block content
	
	//- October 13, 2021
	a(href="https://codepen.io/aexcode/pen/eYENoBb").entry#traffic-light
		div

	//- October 7, 2021
	a(href="https://codepen.io/aexcode/pen/dyzbGvd").entry#laptop
		div