*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  color: #202020;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

small,
.text-small {
  font-size: 0.833rem;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  width: 100%;
  height: 400px;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 800px) {
  .entry {
    width: 50%;
  }

  .wide {
    width: 100%;
  }
}
#traffic-light {
  background: #393870;
}
#traffic-light div {
  width: 100px;
  height: 265px;
  position: relative;
  background: linear-gradient(#333333 75px, #333333 75px, transparent 75px, transparent 85px, #333333 85px, #333333 160px, transparent 160px, transparent 170px, #333333 170px) 10px 10px/80px 245px, linear-gradient(#212121, #212121) 0 0/100% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
#traffic-light div::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #212121;
  border-radius: 50%;
  top: 17.5px;
  left: 20px;
  -webkit-animation: signal 5s infinite linear;
          animation: signal 5s infinite linear;
}
@-webkit-keyframes signal {
  0% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  30% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  30.1%, 60% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  60% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  60.1%, 90% {
    box-shadow: 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  90% {
    box-shadow: 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  90.1%, 100% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
}
@keyframes signal {
  0% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  30% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  30.1%, 60% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  60% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  60.1%, 90% {
    box-shadow: 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  90% {
    box-shadow: 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
  90.1%, 100% {
    box-shadow: 27.5px 27.5px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 27.5px 0px 20px #f20d0d, 27.5px 27.5px 0px 25px #c20a0a, 27.5px 110px 0px 25px rgba(0, 0, 0, 0.5), 27.5px 110px 0px 20px #f2f20d, 27.5px 110px 0px 25px #c2c20a, 27.5px 195px 0px 20px #0df20d, 27.5px 195px 0px 25px #0ac20a, 0px 225px #212121, 55px 225px #212121, 55px 170px #212121, 0px 170px #212121, 0px 140px #212121, 55px 140px #212121, 55px 85px #212121, 0px 85px #212121, 55px 0px #212121, 55px 55px #212121, 0px 55px #212121;
  }
}

#laptop {
  background: seagreen;
}
#laptop div {
  width: 320px;
  height: 320px;
  position: relative;
}
#laptop div::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 40%;
  top: 30%;
  left: 20%;
  background: linear-gradient(#c2c2c2, #c2c2c2) 75% 25%/20% 1%, linear-gradient(#c2c2c2, #c2c2c2) 85.5% 30%/30% 1%, linear-gradient(#c2c2c2, #c2c2c2) 70.5% 36%/15% 1%, linear-gradient(#c2c2c2, #c2c2c2) 80% 42%/25% 1%, linear-gradient(#393870, #393870) 62% 14%/13% 4%, linear-gradient(to right, #2b2b55 10%, transparent 10%) 90% 50%/45% 80%, linear-gradient(#2b2b55 8%, #393870 8%) 90% 50%/45% 80%, linear-gradient(whitesmoke, whitesmoke) 20% 58%/4% 5%, linear-gradient(whitesmoke, whitesmoke) 32.5% 58%/4% 5%, linear-gradient(#635327, #635327) 26% 62%/5% 13.5%, linear-gradient(45deg, #9c7842 50%, transparent 50%) 30% 40.5%/10% 15%, linear-gradient(-45deg, #9c7842 50%, transparent 50%) 19% 40.5%/10% 15%, linear-gradient(#635327, #635327) 32% 40%/3% 15%, linear-gradient(#cc943f, #cc943f) 21.5% 60%/20% 18%, linear-gradient(whitesmoke, whitesmoke) 10% 50%/45% 80%, linear-gradient(#212121, #212121) 0% 0%/100% 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
}
#laptop div::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 3%;
  top: 69%;
  left: 12.5%;
  background: linear-gradient(to right, #3b3b3b, whitesmoke, #3b3b3b) 0% 0%/100% 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */
