*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  color: #202020;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

small,
.text-small {
  font-size: 0.833rem;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  width: 100%;
  height: 400px;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 800px) {
  .entry {
    width: 50%;
  }

  .wide {
    width: 100%;
  }
}
#current {
  background: #2b2b55;
}
#current div {
  width: 320px;
  height: 320px;
  position: relative;
  border: 1px solid whitesmoke;
}
#current div::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 65%;
  bottom: 0%;
  background: radial-gradient(#c85914 70%, transparent 70%) 50% 100%/25% 40%, radial-gradient(#a24810 70%, transparent 70%) 60% 100%/25% 40%, radial-gradient(#c85914 70%, transparent 70%) 65% 100%/40% 40%, radial-gradient(#a24810 70%, transparent 70%) 75% 100%/40% 40%, radial-gradient(#c85914 70%, transparent 70%) 80% 100%/40% 40%, radial-gradient(#a24810 70%, transparent 70%) 40% 100%/25% 40%, radial-gradient(#c85914 70%, transparent 70%) 35% 100%/40% 40%, radial-gradient(#a24810 70%, transparent 70%) 25% 100%/40% 40%, radial-gradient(#c85914 70%, transparent 70%) 20% 100%/40% 40%, radial-gradient(#2b2b55 70%, transparent 70%) 80% 55%/28% 28%, radial-gradient(#2b2b55 70%, transparent 70%) 20% 55%/28% 28%, linear-gradient(#717237, #717237) 50% 59%/20% 15%;
  background-repeat: no-repeat;
}

#laptop {
  background: seagreen;
}
#laptop div {
  width: 320px;
  height: 320px;
  position: relative;
}
#laptop div::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 40%;
  top: 30%;
  left: 20%;
  background: linear-gradient(#c2c2c2, #c2c2c2) 75% 25%/20% 1%, linear-gradient(#c2c2c2, #c2c2c2) 85.5% 30%/30% 1%, linear-gradient(#c2c2c2, #c2c2c2) 70.5% 36%/15% 1%, linear-gradient(#c2c2c2, #c2c2c2) 80% 42%/25% 1%, linear-gradient(#393870, #393870) 62% 14%/13% 4%, linear-gradient(to right, #2b2b55 10%, transparent 10%) 90% 50%/45% 80%, linear-gradient(#2b2b55 8%, #393870 8%) 90% 50%/45% 80%, linear-gradient(whitesmoke, whitesmoke) 20% 58%/4% 5%, linear-gradient(whitesmoke, whitesmoke) 32.5% 58%/4% 5%, linear-gradient(#635327, #635327) 26% 62%/5% 13.5%, linear-gradient(45deg, #9c7842 50%, transparent 50%) 30% 40.5%/10% 15%, linear-gradient(-45deg, #9c7842 50%, transparent 50%) 19% 40.5%/10% 15%, linear-gradient(#635327, #635327) 32% 40%/3% 15%, linear-gradient(#cc943f, #cc943f) 21.5% 60%/20% 18%, linear-gradient(whitesmoke, whitesmoke) 10% 50%/45% 80%, linear-gradient(#212121, #212121) 0% 0%/100% 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
}
#laptop div::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 3%;
  top: 69%;
  left: 12.5%;
  background: linear-gradient(to right, #3b3b3b, whitesmoke, #3b3b3b) 0% 0%/100% 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */
